<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>file</key>
	<dict>
		<key>default</key>
		<string>file.png</string>
		<key>video/mp4</key>
		<string>file_video.png</string>
		<key>video/3gpp</key>
		<string>file_video.png</string>
		<key>video/quicktime</key>
		<string>file_video.png</string>
		<key>video/avi</key>
		<string>file_video.png</string>
		<key>video/mpg</key>
		<string>file_video.png</string>
		<key>video/mpeg</key>
		<string>file_video.png</string>
		<key>video/x-mpg</key>
		<string>file_video.png</string>
		<key>video/x-mpeg</key>
		<string>file_video.png</string>
		<key>video/mp4v</key>
		<string>file_video.png</string>
		<key>video/3gpp2</key>
		<string>file_video.png</string>
		<key>audio/mpeg</key>
		<string>file_music.png</string>
		<key>audio/x-ms-wma</key>
		<string>file_music.png</string>
		<key>audio/wav</key>
		<string>file_music.png</string>
		<key>audio/mp4</key>
		<string>file_music.png</string>
		<key>audio/ogg</key>
		<string>file_music.png</string>
		<key>audio/midi</key>
		<string>file_music.png</string>
		<key>audio/mp4a-latm</key>
		<string>file_music.png</string>
		<key>text/plain</key>
		<string>file_text.png</string>
		<key>text/html</key>
		<string>file_text.png</string>
		<key>text/css</key>
		<string>file_text.png</string>
		<key>text/javascript</key>
		<string>file_text.png</string>
		<key>image/jpeg</key>
		<string>image_default.png</string>
		<key>image/png</key>
		<string>image_default.png</string>
		<key>image/gif</key>
		<string>image_default.png</string>
		<key>image/x-ms-bmp</key>
		<string>image_default.png</string>
		<key>image/tiff</key>
		<string>image_default.png</string>
		<key>image/x-targa</key>
		<string>image_default.png</string>
		<key>application/javascript</key>
		<string>file_text.png</string>
		<key>application/pdf</key>
		<string>file_pdf.png</string>
		<key>application/msword</key>
		<string>file_word.png</string>
		<key>application/msexcel</key>
		<string>file_excel.png</string>
		<key>application/vnd.ms-word</key>
		<string>file_word.png</string>
		<key>application/mspowerpoint</key>
		<string>file_ppt.png</string>
		<key>application/vnd.ms-excel</key>
		<string>file_excel.png</string>
		<key>application/vnd.ms-powerpoint</key>
		<string>file_ppt.png</string>
		<key>application/vnd.openxmlformats-officedocument.wordprocessingml.document</key>
		<string>file_word.png</string>
		<key>application/vnd.openxmlformats-officedocument.presentationml.presentation</key>
		<string>file_ppt.png</string>
		<key>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</key>
		<string>file_excel.png</string>
		<key>application/zip</key>
		<string>file_zip.png</string>
		<key>application/gzip</key>
		<string>file_zip.png</string>
		<key>application/x-gzip</key>
		<string>file_zip.png</string>
		<key>application/tar</key>
		<string>file_zip.png</string>
		<key>application/x-tar</key>
		<string>file_zip.png</string>
		<key>application/x-gtar</key>
		<string>file_zip.png</string>
		<key>application/rar</key>
		<string>file_zip.png</string>
	</dict>
	<key>folder</key>
	<dict>
		<key>default</key>
		<string>folder.png</string>
		<key>httpd/unix-directory</key>
		<string>folder.png</string>
	</dict>
</dict>
</plist>
